<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.projet.tony.tx" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.Camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LostLetter.Page_menu"
            android:label="@string/app_tx_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LostLetter.Activity_JSON"
            android:label="@string/app_tx_name">
        </activity>
        <activity
            android:name=".LostLetter.Apropos"
            android:label="@string/app_tx_name" >
        </activity>
        <activity
            android:name=".creation_mode.creation"
            android:label="@string/app_tx_name" >
        </activity>
        <activity
            android:name=".creation_mode.Ajout_question"
            android:label="@string/app_tx_name" >
        </activity>
        <activity
            android:name=".LostLetter.Partie"
            android:label="@string/app_tx_name" >
        </activity>
        <activity
            android:name=".ChangerLetter.MyActivity"
            android:label="@string/app_si28_name" >
        </activity>
        <activity
            android:name=".ChangerLetter.MyActivity2"
            android:label="@string/app_si28_name" >
        </activity>
        <activity
            android:name=".ChangerLetter.MyActivity3"
            android:label="@string/app_si28_name" >
        </activity>
        <activity
            android:name=".ChangerLetter.photo_change"
            android:label="@string/app_si28_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Main_page"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LostLetter.choix_histoire"
            android:label="@string/app_tx_name" >
        </activity>
        <activity
            android:name=".ChangerLetter.choix_phrase"
            android:label="@string/app_si28_name" >
        </activity>
        <activity
            android:name=".LostLetter.fin"
            android:label="@string/app_tx_name" >
        </activity>
        <activity
            android:name=".ChangerLetter.change_tuto"
            android:label="@string/app_si28_name" >
        </activity>
        <activity
            android:name=".LostLetter.lost_tuto"
            android:label="@string/app_tx_name" >
        </activity>
        <activity
            android:name=".ChangerLetter.MyActivity4"
            android:label="@string/app_si28_name" >
        </activity>
    </application>

</manifest>
